__pycache__
src/hurrywave.egg-info/PKG-INFO
src/hurrywave.egg-info/requires.txt
src/hurrywave.egg-info/dependency_links.txt
src/hurrywave.egg-info/SOURCES.txt
src/hurrywave.egg-info/top_level.txt
launch.json
_build
dist
cht_hurrywave.egg-info
